body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;



}
.lit{
  background-color: white;
  height: 100vh;
  color: black;
  
}
.dark{
  background-color: black;
  height: 100vh;
  color: white;
}
.btn{
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  height: 100vh;
}
.btn button{
  padding: 10px 50px;
  cursor: pointer;
} 